*, *:before, *:after {
  box-sizing: border-box;
}
body{
  min-width: 320px;
  min-height: 100vh;
  line-height: 1.0;
  word-wrap: break-word;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  &:before{
    content: '';
    display: block;
    background-image: linear-gradient(40deg, #ADCCBD 0%, #576A9C 100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
.wrapper {
  -webkit-overflow-scrolling: touch;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: calc(100vh - 3rem);
  position: relative;
  z-index: 2;
  padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
#main {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  max-width: 100%;
  z-index: 1;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  box-shadow: 0rem 1.375rem 1.75rem 0rem rgba(27,54,74,0.09);
  border-radius: 0.375rem 0.375rem 0.375rem 0.375rem;
  -moz-transition: opacity 1s ease 0s,-moz-transform 1s ease 0s;
  -webkit-transition: opacity 1s ease 0s,-webkit-transform 1s ease 0s;
  -ms-transition: opacity 1s ease 0s,-ms-transform 1s ease 0s;
  transition: opacity 1s ease 0s,transform 1s ease 0s;
  .inner{
    background-color: #FFFFFF;
    overflow-x: hidden;
    position: relative;
    z-index: 1;
    padding: 3rem 2rem;
    max-width: 100%;
    width: 25rem;
    padding-top: 0;
  }
}
.image{
  position: relative;
  overflow: hidden;
  max-width: 100%;
  display: block;
  margin-left: calc(-2rem - 1px);
  width: calc(100% + 4rem + 2px);
  max-width: calc(100% + 4rem + 2px);
  img{
    width: 100%;
    max-width: 100%;
    display: inline-block;
    width: 100vw;
  }
}
h1{
  color: #4F5C63;
  font-family: 'Source Sans Pro', sans-serif;
  letter-spacing: -0.025rem;
  width: 100%;
  font-size: 2.25em;
  line-height: 1.25;
  font-weight: 300;
}
p{
  &.job{
    color: #8797A1;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.025rem;
    width: calc(100% + 0.025rem);
    font-size: 1em;
    line-height: 1.5;
  }
}
hr{
  width: 100%;
  position: relative;
  padding: 0;
  border: 0;
  height: 1.25rem;
  line-height: 1.25rem;
  &:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    background-color: #E4EBF0;
    height: 1px;
  }
}
ul.icons{
  cursor: default;
  list-style: none;
  padding: 0;
  letter-spacing: 0;
  font-size: 1.125em;
  width: calc(100% + 0.75rem);
  margin-left: -0.375rem;
  margin-bottom: 0;
  li{
    display: inline-block;
    vertical-align: middle;
    margin: 0.375rem;
    cursor: default;
    &.twitter{
      &:hover{
        a{
          color: #1da1f2;
        }
      }
    }
    &.mail{
      &:hover{
        a{
          color: #dd4b39;
        }
      }
    }
    &.stack-overflow{
      &:hover{
        a{
          color: #f48024;
        }
      }
    }
    &.github{
      &:hover{
        a{
          color: #4078c0;
        }
      }
    }
    a{
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      -moz-justify-content: center;
      -webkit-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      border-radius: 100%;
      width: 2em;
      height: 2em;
      text-decoration: none;
      color: #E4EBF0;
      border: solid 1px;
    }
  }
}
a {
  -moz-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -webkit-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  -ms-transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  transition: color 0.25s ease, background-color 0.25s ease, border-color 0.25s ease;
  color: inherit;
  text-decoration: underline;
}
